.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #10352d, #629493);
}

.welcome-section, .login-section {
    text-align: lef;
    color: #fff;
    padding: 30px;
}

.welcome-section h3 {
    font-size: 24px;
}

.welcome-section h1 {
    font-size: 48px;
    margin-top: 10px;
}

.login-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.login-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    outline: none;
    border-color: #00cec9;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #16443b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #072b23;
}